<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link href="{{ absolute_url(asset('styles/agentbody.css') )}}" rel="stylesheet">
</head>
<body class="body">
{% include 'blocks/Header.html.twig'%}
<h1 style="display: flex; justify-content: center">{{ page_title }}</h1>
<div class="agents_tables">
    {% if filials != null %}
        {% for filial in filials %}
            <div class="entity_div">
                id: {{ filial.getId() }}, name: {{ filial.getName() }}, address: {{ filial.getAddress() }}
                , phone: {{ filial.getPhone() }}
                <form class="delete_form" method="post">
                    <input type="text" name="id" value="{{ filial.getId() }}" style = "display: none">
                    <button class="button" type="submit" name="submit">
                        <img class="image" src="{{ absolute_url(asset('images/trash.png') )}} " alt="delete">
                    </button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <div> Filials not found </div>
    {% endif %}
</div>
</body>
</html>