<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link href="{{ absolute_url(asset('styles/body.css') )}}" rel="stylesheet">
</head>
<body class="body">
{% include 'blocks/Header.html.twig'%}
<h1 style="display: flex; justify-content: center">{{ page_title }}</h1>
<div class="agents_tables">
    {% if bookings != null %}
        {% for booking in bookings %}
            <div class="entity_div">
                id: {{ booking.id }}, room: {{ booking.RoomNumber }}, Client name: {{ booking.ClientName }},
                Booking date: {{ booking.getBookingDateInString() }}, Start date: {{ booking.getStartDateInString() }},
                Expiration date: {{ booking.getExpirationDateInString() }}
                <form class="delete_form" method="post">
                    <input type="text" name="id" value="{{ booking.id }}" style = "display: none">
                    <button class="button" type="submit" name="submit">
                        <img class="image" src="{{ absolute_url(asset('images/trash.png') )}} " alt="delete">
                    </button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <div> Booking not found </div>
    {% endif %}
</div>
</body>
</html>