<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <link href="{{ absolute_url(asset('styles/body.css') )}}" rel="stylesheet">
    </head>
    <body class="body">
    {% include 'blocks/Header.html.twig'%}
        <h1 style="display: flex; justify-content: center">{{ page_title }}</h1>
        <div class="agents_tables">
            {% if clients != null %}
                {% for client in clients %}
                    <div class="entity_div">
                        id: {{ client.getId() }}, name: {{ client.getName() }}, surname: {{ client.getSurname() }}
                        , patronymic: {{ client.getPatronymic() }}, commentary: {{ client.getCommentary() }}, Passport Data: {{ client.getPassportData() }}
                        , Discounts: {{ client.getDiscounts() }}
                        <form class="delete_form" method="post">
                            <input type="text" name="id" value="{{ client.getId() }}" style = "display: none">
                            <button class="button" type="submit" name="submit">
                                <img class="image" src="{{ absolute_url(asset('images/trash.png') )}} " alt="delete">
                            </button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <div> Clients not found </div>
            {% endif %}
        </div>
    </body>
</html>