<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link href="{{ absolute_url(asset('styles/home.css') )}}" rel="stylesheet">
</head>
<body class="body">
{% include 'blocks/LeftPanel.html.twig'%}

<div class="agents_tables" >
    <a class="links" style="margin: 5vh" href="/create/new/type/work">
        Create new Type
    </a>
    {% if types != null %}
        {% for type in types %}
            <div class="entity_div">
                id:                  {{ type.getId() }},
                type of work:        {{ type.getDescription() }},
                payment for day:     {{ type.getPaymentForDay() }},
                <form class="delete_form" method="post">
                    <input type="text" name="id" value="{{ type.getId() }}" style = "display: none">
                    <button class="button_delete" type="submit" name="submit">delete</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <div> Types not found </div>
    {% endif %}
</div>
</body>
</html>